$icon-font-path: '../fonts/';
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
.opened {
  .open.component {
    width: 50%;
  }
  .open.component__left {
    z-index: 1;
    left: 50%;
  }
  .open.component__right {
    z-index: 1;
    right: 50%;
    left:0%;
  }
}

.component {
  left: 25%;
  width: 20%;
  height: 100%;
  transition: all 1s ease-out;
  position: absolute;
  z-index: -1;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container-fluid {
  padding: 0px;
}

body,
html {
  background: white;
  height: 100%;
}

@import "../components/about/about.scss";
@import "../components/resume/resume.scss";
@import "../components/contact/contact.scss";
@import "../components/portfolio/portfolio.scss";
@import "../components/navigation/navigation.scss";
