.header
  .header__info
    img.header__avatar(src="https://pp.vk.me/c630323/v630323357/25c61/4egRQ4Mc_XM.jpg", width=120)
    h1 Andrei Tserakhau
    p About myself
  ul
    li#about-link: a(href='#') About
    li#resume-link: a(href='#') Resume
    li#portfolio-link: a(href='#') Portfolio
    li#contact-link: a(href='#') Contact
