extends layouts/default

block content
  include ./components/about/about.jade
  include ./components/resume/resume.jade
  include ./components/portfolio/portfolio.jade
  include ./components/contact/contact.jade
